// COLORS
$color-primary: rgba(129, 199, 132, 0.8);
$color-primary-light: rgba(0, 188, 212, 0.8);
$color-white: #fff;
$color-black: #000;
$color-grey-dark: #777;

// GRID
$grid-width: 114rem;
