.about-container {
  display: grid;
  max-width: $grid-width;
  margin: 0 auto;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 16rem;
  row-gap: 5rem;

  @include respond(phone) {
    display: grid;
    max-width: 70rem;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 0;
    row-gap: 7rem;
  }
}
